<app-nav></app-nav>

<input type="file" (change)="onFileSelected($event)" />
<button (click)="uploadFile()">Subir Archivo</button>

<table>
  <thead>
    <tr>
      <th>Materia</th>
      <th>Tipo Identificación</th>
      <th>No Identificación</th>
      <th>Nota ICFES</th>
      <th>Nota Actual</th>
      <th>Período</th>
      <th>Nota 3er Corte</th>
      <th>Nota 6to Corte</th>
      <th>Nota 9no Corte</th>
      <th>Valor Agregado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">
      <td>{{ registro.materia }}</td>
      <td>{{ registro.tipoIdentificacion }}</td>
      <td>{{ registro.noIdentificacion }}</td>
      <td>{{ registro.notaICFES }}</td>
      <td>{{ registro.notaActual }}</td>
      <td>{{ registro.periodo }}</td>
      <td>{{ registro.nota3corte }}</td>
      <td>{{ registro.nota6corte }}</td>
      <td>{{ registro.nota9corte }}</td>
      <td>{{ registro.valorAgregado }}</td>
    </tr>
  </tbody>
</table>


<!-- dashboard.component.html -->
<div>
    <!-- Otro contenido aquí -->
    <canvas id="miGrafica" width="400" height="400"></canvas>
  </div>
  
  