<footer class="jumbotron">
    <div class="text-center text-white">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-8 mt-2">
              <p>
                Es el valor adicional que adquieren los bienes y servicios al ser 
                transformados durante el proceso productivo. El valor agregado o 
                producto interno bruto es el valor creado durante el proceso productivo. 
                Es una medida libre de duplicaciones y se obtiene deduciendo de la producción 
                bruta el valor de los bienes y servicios utilizados como insumos intermedios. 
                También puede calcularse por la suma de los pagos a los factores de la producción, 
                es decir la remuneración de asalariados, el consumo de capital fijo, el excedente 
                de operación y los impuestos a la producción netos de los subsidios correspondientes.
              
              </p>
            </div>
          </div>
        <div class="text-center mb-2">
          <a href="" class="text-white me-4">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <div class="text-center p-3 bg-dark">
       Juan Camilo Campo Guzman
      </div>
    </div>
</footer>